// Colors
$turquoise: hsl(179, 60%, 29%);
$yellow: hsl(46, 94%, 41%);
$silver: hsl(0, 0%, 75%);

//Font sizes

$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;